DEMO_SERVER_HTTP_ITEM_HOST=127.0.0.1
DEMO_SERVER_HTTP_ITEM_LABEL=item
DEMO_SERVER_HTTP_ITEM_PORT=8081

DEMO_SERVER_HTTP_ORDER_HOST=127.0.0.1
DEMO_SERVER_HTTP_ORDER_LABEL=order
DEMO_SERVER_HTTP_ORDER_PORT=8082

DEMO_SERVICE_ITEM_MAX_LIST_LEN=10
