DEMO_OPS_HTTP_HOST=
DEMO_OPS_HTTP_LABEL=
DEMO_OPS_HTTP_PORT=

DEMO_SERVER_HTTP_ITEM_HOST=
DEMO_SERVER_HTTP_ITEM_LABEL=
DEMO_SERVER_HTTP_ITEM_PORT=

DEMO_SERVER_HTTP_ORDER_HOST=
DEMO_SERVER_HTTP_ORDER_LABEL=
DEMO_SERVER_HTTP_ORDER_PORT=

DEMO_SERVICE_ITEM_MAX_LIST_LEN=
