DEMO_SERVER_HTTP_ITEM_LABEL=demo
DEMO_SERVER_HTTP_ITEM_HOST=127.0.0.1
DEMO_SERVER_HTTP_ITEM_PORT=8080
DEMO_SERVICE_ITEM_MAX_LIST_LEN=100
DEMO_SERVER_HTTP_ORDER_LABEL=orders
DEMO_SERVER_HTTP_ORDER_HOST=127.0.0.1
DEMO_SERVER_HTTP_ORDER_PORT=8081
DEMO_OPS_HTTP_LABEL=ops
DEMO_OPS_HTTP_HOST=127.0.0.1
DEMO_OPS_HTTP_PORT=9090
