DEMO_APP_SHUTDOWN_TIMEOUT=5s
DEMO_SERVER_HTTP_ITEM_LABEL=demo
DEMO_SERVER_HTTP_ITEM_HOST=127.0.0.1
DEMO_SERVER_HTTP_ITEM_PORT=8080
DEMO_SERVICE_ITEM_MAX_LIST_LEN=100
DEMO_SERVER_HTTP_ORDER_LABEL=orders
DEMO_SERVER_HTTP_ORDER_HOST=127.0.0.1
DEMO_SERVER_HTTP_ORDER_PORT=8081
